BOT_TOKEN=PASTE_BOTFATHER_TOKEN
WEBAPP_URL=https://YOUR-HTTPS-DOMAIN.example
HOST=0.0.0.0
PORT=8000
TOTAL_SUPPLY=1000
PEPE_PRICE_STARS=15
MARKET_FEE_PERCENT=5
DEV_MODE=0
DEV_USER_ID=777000

GIFT_PRICE_TON_NANO=150000000
START_TON_NANO=10000000000
